* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  /* font-weight: 400;
  /* overflow-x: hidden; */
  /* position: relative; */
  /* background-color: #121212 !important; */
  /* color: #fff !important; */ 
}

.Navbar {
  display: flex;
  height:10vh;
  width: 100vw;
  margin: 2%;
  justify-content: space-evenly;
  align-items: center;
}
.nav-items {
  list-style: none;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
}
.nav-items img {
  width: 100px;
  height: auto;
}
/* .Logo {
  display: flex;
  height: 60%;
  width: 30%;
  margin-right: -15%;
  margin-left: -10%;
}
.headers{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-right: 10%;
}
.headers a {
  text-decoration: none;
}
.toggle-bar {
  font-size: 1.7em;

} */