@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  background-color: #E2EEEA;
  font-family: "Roboto" sans-serif; 
  font-weight: 400;
}

.Navbar {
  display: flex;
  height:13vh;
  width: 100vw;
  padding-bottom: 30px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #E2EEEA;
  position:sticky;
  top: 0.1px;
  
}
.nav-items {
  list-style: none;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  margin: 2% 8% 0% 2%;
}
.nav-items img {
  width: 150px;
  height: auto;
  cursor: pointer;
  
}
.headers{
  display: flex;
  justify-content: space-between;
  width: 45%;
  /* margin: 0% 10% 0% 10%; */
  font-size: 0.8em;
  
}
.headers a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  color: #909392;
}
.toggle-bar {
  font-size: 1.6em;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.toggle-bar:hover {
  color: white;
  background-color: #FD6151;
}
.active {
  color: #FD6151 !important;
}
.banner-container {
  margin: 8% 5% 5% 2%;
}
.banner-container ul {
  list-style: none;
  display: flex;
}
.banner-container h1 {
  margin: 40px 0px 0px 0px;
  display: flex;
  font-weight: bold;
  color: #0b0136;
  font-size: 3.3em;
  width: 110%;
}
.banner-container img {
  outline: 1px #FD6151 solid;
  outline-offset: -1px;
}