* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  background-color: #E2EEEA; 
}

.Navbar {
  display: flex;
  height:10vh;
  width: 100vw;
  margin: 2%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #E2EEEA;
  position: sticky;
}
.nav-items {
  list-style: none;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  margin: 0% 8% 0% 5%;
}
.nav-items img {
  width: 150px;
  height: auto;
  cursor: pointer;
}
.headers{
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin-right: 10%;
  
}
.headers a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  color: #909392;
}
.toggle-bar {
  font-size: 1.6em;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.toggle-bar:hover {
  color: white;
  background-color: #FD6151;
}
.active {
  color: #FD6151 !important;
}
